.app-wrapper {
  border-bottom: 1px solid #0000001a;
  background-color: #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  width: 100%;
  position: relative;
}

.app-wrapper--dark {
  background: linear-gradient(black, #2a2a2a);
  color: white;
  box-shadow: 0 0 10px #2a2a2a, 5px 0 10px #2a2a2a;
}
.app-wrapper--light {
  background: linear-gradient(#cecece, white);
  color: #1e1e1e;
  box-shadow: 0 0 20px #cecece, 10px 0 20px #cecece;
}

.add-user-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0px;
  gap: 5px;
}

#addUser {
  background: transparent url("../assets/reactHeart.svg") no-repeat center;
  background-size: 35px 35px;
  width: 35px;
  height: 35px;
  filter: grayscale(100%);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
}

#addUser:hover,
#addUser:focus {
  filter: none;
  background-color: transparent;
  cursor: pointer;
}

#addUser.clicked {
  filter: none !important;
  background-color: transparent;
}

#homeButton {
  background: transparent url("../assets/home.svg") no-repeat center;
  background-size: 35px 35px;
  width: 35px;
  height: 35px;
  filter: grayscale(100%);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
}

#homeButton:hover,
#homeButton:focus {
  filter: none;
  background-color: transparent;
  cursor: pointer;
}

#homeButton.clicked {
  filter: none !important;
  background-color: transparent;
}

#profileButton {
  background: transparent url("../assets/profile.svg") no-repeat center;
  background-size: 35px 35px;
  width: 35px;
  height: 35px;
  filter: grayscale(100%);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
}

#profileButton:hover,
#profileButton:focus {
  filter: none;
  background-color: transparent;
  cursor: pointer;
}

#profileButton.clicked {
  filter: none !important;
  background-color: transparent;
}
