.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  box-shadow: 0 0 10px #2a2a2a, 5px 0 10px #2a2a2a;
  padding: 20px;
  min-width: 40%;
  background-color: #111;
  color: white;
}

input {
  min-width: 500px;
}

input,
label {
  display: block;
  padding: 10px;
  margin: 8px;
}

.form-button {
  border-radius: 8px;
  border-style: solid;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 5px;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background-color: transparent;
  border-color: #619cfb;
}

.submit {
  border-color: #619cfb;
}
.submit:hover {
  background-color: #619cfb;
}

.cancel {
  border-color: red;
}
.cancel:hover {
  background-color: red;
}

.disabled {
  border-color: gray;
}
.disabled:hover {
  background-color: gray;
}
