table {
  width: 50%;
}

table,
th,
td {
  padding: 10px;
  border: 1px solid white;
  border-collapse: collapse;
}
th,
td {
  background-color: #111;
  color: white;
}

.action-button {
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 3px;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.view {
  background-color: #619cfb;
}

.edit {
  background-color: orange;
}

.delete {
  background-color: red;
}
