table {
  border-collapse: collapse;
  width: fit-content;
  color: white;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: center;
  padding: 3px;
  font-size: 24px;
  background-color: #111;
}

.form-table {
  display: flex;
  gap: 5px;
}

.form-table td:last-child {
  display: flex;
  justify-content: space-evenly;
}

.form-table * {
  font-size: 14px;
}
